   body {
        background: #000 !important;
        color: #00ff41 !important;
        font-family: 'Courier New', monospace !important;
        margin: 0;
        overflow: hidden;
    }
    a { color: #00ffff; }